/* 
* 
*
* FOR DESKTOP AND LAPTOP SCREENS
* 
* OR SCREENS 
* AT MINIMUM IPAD IN LANDSCAPE MODE
* 
*/
@media only screen and (min-width: 1100px) {

  body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-text-size-adjust: 100%;
    height: 100svh;
    min-height: -webkit-fill-available;
    overflow-y: hidden;
  }


  /* 
  * MAIN CONTAINER 
  */
  .main-container {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    height: 100svh;
  }



  /* 
  * TOP CONTAINER
  */
  .top-container {
    margin: 0;
    height: 38svh;
    width: 100vw;
    font-weight: bold;
    font-size: 11px;
    position: fixed;
    top: 0svh;
    display: flex;
  }

  .top-container-title {
    margin: 0;
    padding: 10px;
    width: 25vw;
    font-size: 18px;
    overflow-wrap: break-word;
  }

  .top-container-byline {
    margin: 0;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 55vw;
  }

  .top-container-location {
    margin: 0;
    padding: 10px;
    width: 14vw;
    white-space: nowrap;
    overflow: hidden;
  }

  .top-container-serieses {
    margin: 0;
    padding: 10px;
    width: 6vw;
    font-weight: 100;
    line-height: 1.6em;
  }

  .button-series {
    padding-bottom: 2px;
    background: none !important;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 11px;
  }

  .middle-container {
    margin: 0;
    padding: 0;
  }



  /* 
  * MIDDLE CONTAINER
  */
  .middle-container {
    margin: 0;
    padding: 0;
    height: 24svh;
    width: 100vw;
    position: fixed;
    top: 38svh;
    display: flex;
  }

  .middle-container-left {
    margin: 0;
    padding: 0;
    width: 22vw;
  }

  .middle-container-right {
    margin: 0;
    padding: 0;
    width: 78vw;
    display: table;
  }

  .middle-container-right-index {
    margin: 0;
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 40px;
    font-size: calc(100% + 1.25vw);
    line-height: calc(100% + .4vw);
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
  }

  .middle-container-right-film {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 14px;
    display: table;
  }

  .middle-container-right-film-title {
    font-size: 20px;
    font-weight: bold;
  }

  .middle-container-right-org {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    height: 22svh;
    font-size: 14px;
  }

  .middle-container-right-org-title {
    font-size: 20px;
    font-weight: bold;
  }

  /* Set the size of the div element that contains the map */
  .middle-container-right {
    margin: 0;
    padding: 0;
    height: 24svh;
    width: 78vw;
  }



  /* 
  * BOTTOM CONTAINER
  */
  .bottom-container {
    margin: 0;
    padding: 40px 300px 0 0;
    width: 100%;
    height: 38svh;
    position: relative;
    top: 62svh;
    font-size: 15px;
    display: flex;
    flex-direction: row;
  }

  .bottom-container-film {
    margin: 0;
    padding: 0;
    width: 395px;
  }

  .button-title {
    padding: 2px 2px 2px 0px;
    background: none !important;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
  }

  .text-left {
    text-align: left !important;
  }

  .bottom-container-film-notes {
    margin-top: 30px;
    padding: 0;
    width: auto;
    width: auto;
    border-left: 0.5px solid black;
    padding: 0 50px 0 10px;
    font-size: 13px;
  }



  /* 
  * STRIP CONTAINER
  */
  .strip-container {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
  }



}




















/* 
* 
*
* FOR NON-DESKTOP AND NON-LAPTOP SCREENS
* 
* OR SCREENS 
* SMALLER THAN IPAD IN LANDSCAPE MODE
* 
*/
@media only screen and (max-width: 1099px) {


  .body-screen {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-text-size-adjust: 100%;
    overflow-y: auto;
  }



  /* 
  * MAIN CONTAINER - MOBILES
  */
  .main-container-screen {
    margin: 0;
    padding: 0;
    position: static;
    height: auto;
    width: auto;
  }



  /* 
  * TOP CONTAINER
  */
  .top-container-screen {
    margin: 0;
    padding: 0 0 30px 0; 
    height: auto;
    width: auto;
    font-weight: bold;
    font-size: 11px;
    position: static; 
    display: flex;
    flex-direction: column;
  }

  .top-container-title-screen {
    padding: 10px;
    height: auto;
    width: auto;
    font-size: 18px;
    overflow-wrap: break-word;
  }

  .top-container-byline-screen {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 150px;
    height: auto;
    width: auto;
  }

  .top-container-location-screen {
    padding-left: 30px;
    height: auto;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
  }

  .top-container-serieses-screen {
    padding-top: 24px;
    padding-left: 24px;
    height: auto;
    width: auto;
    font-weight: 100;
    line-height: 1.6em;
  }

  .button-series {
    padding-bottom: 2px;
    background: none !important;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 11px;
  }



  /* 
  * MIDDLE CONTAINER
  */
  .middle-container-screen {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    position: static;
    display: flex;
    flex-direction: column;
  }

  .middle-container-left-screen {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
  }

  .middle-container-right-screen {
    margin: 0;
    padding: 0;
    min-height: 30vh;
    width: auto;
    position: static;
    display: table;
  }

  .middle-container-right-index-screen {
    margin: 0;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    height: auto;
    width: auto;
    position: static;
    font-size: calc(100% + 2.2vw);
    line-height: calc(100% + 1vw);
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
  }

  .middle-container-right-film-screen {
    margin: 0;
    padding-top: 35px;
    padding-right: 30px;
    padding-bottom: 35px;
    padding-left: 30px;
    height: auto;
    width: auto;
    position: static;
    font-size: 14px;
    display: table;
  }

  .middle-container-right-film-title-screen {
    height: auto;
    width: auto;
    position: static;
    font-size: 20px;
    font-weight: bold;
  }

  .middle-container-right-org-screen {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    height: auto;
    width: auto;
    position: static;
    font-size: 14px;
  }

  .middle-container-right-org-title-screen {
    height: auto;
    width: auto;
    position: static;
    font-size: 20px;
    font-weight: bold;
  }

  /* Set the size of the div element that contains the map */
  .middle-container-right-screen {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
  }



  /* 
  * BOTTOM CONTAINER
  */
  .bottom-container-screen {
    margin: 0;
    padding: 40px 0 300px 150px;
    height: auto;
    width: auto;
    position: static;
    font-size: 15px;
    display: flex;
    flex-direction: column;
  }

  .bottom-container-film-screen {
    margin: 0;
    padding: 0 0 50px 0;
    width: auto;
  }

  .button-title {
    padding: 2px 2px 2px 0px;
    background: none !important;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
  }

  .text-left {
    text-align: left !important;
  }

  .bottom-container-film-notes {
    margin-top: 30px;
    padding: 0;
    width: auto;
    width: auto;
    border-left: 0.5px solid black;
    padding: 0 50px 0 10px;
    font-size: 13px;
  }



  /* 
  * STRIP CONTAINER
  */
  .strip-container-screen {
    padding-bottom: 60px;
    padding-left: 115px;
    height: 200px;
    width: auto;
  }

  .strip-container-gif-screen {
    height: 200px;
    width: auto;
    background-position: center;
    background-size: cover;
  }



}



















